body { 
    padding-top: 65px; 
}
.login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
.login-dp .help-block{
    font-size:12px    
}
.login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
.login-dp .social-buttons{
    margin:12px 0    
}
.login-dp .social-buttons a{
    width: 49%;
}
.login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    .login-dp{
        background-color: inherit;
        color: #fff;
    }
    .login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.center{
    text-align: center;
}
.error-message{
    color: red;
}

#calendar {
    max-width: 1000px;
    margin: 0 auto;
}


.notresizable {
   resize: none;
}

.fixtooltip{
    pointer-events: all;
}

@-moz-document url-prefix() {
    select.form-control {
        padding-right: 25px;
        background-image: url("data:image/svg+xml,\
          <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px'\
               height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'>\
            <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
          </svg>");
        background-repeat: no-repeat;
        background-position: calc(100% - 7px) 50%;
        -moz-appearance: none;
        appearance: none;
    }
}

