{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
<script src='/static/main/cal/jquery.min.js'></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link href='/static/main/cal/fullcalendar.min.css' rel='stylesheet' />
<link href='/static/main/cal/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<link href='/static/main/scheduler.min.css' rel='stylesheet' />
<script src='/static/main/cal/moment.min.js'></script>
<script src='/static/main/cal/fullcalendar.min.js'></script>
<script src='/static/main/scheduler.min.js'></script>
<script src='/static/main/locale/pt.js'></script>

<script src="{% static 'main/main.js' %}"></script>

<head>
  <title>Reserva de Espaços CETEC</title>
</head>

<body>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->

  <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="navbar-header">
      
    </div>
    <ul class="nav navbar-nav">
    </ul>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar">
      <li>
        <a href="/">Reserva de Espaços CETEC</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

<div>
  <div class="panel panel-default col-md-6 col-md-offset-3 fixpanel">
    <h3> Página reservada a administradores do sistema </h3>
  </div>
</div>

</body>

