{% load static %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
<script src='/static/main/cal/jquery.min.js'></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link href='/static/main/cal/fullcalendar.min.css' rel='stylesheet' />
<link href='/static/main/cal/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<link href='/static/main/scheduler.min.css' rel='stylesheet' />
<script src='/static/main/cal/moment.min.js'></script>
<script src='/static/main/cal/fullcalendar.min.js'></script>
<script src='/static/main/scheduler.min.js'></script>
<script src='/static/main/locale/pt.js'></script>


<script type="text/javascript" src="{% static 'main/bootstrap-datetimepicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'main/bootstrap-datetimepicker.min.css' %}"/>

<script src="{% static 'main/main.js' %}"></script>

<head>
  <title>Gestão de Espaços CETEC</title>
</head>

<body>
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar">
        <li>
          <a href="">Reserva de Espaços CETEC</a>
        </li>
      </ul>
      {% if isSuperUser %}
      <ul class="nav navbar-nav">
        <li id="show-calendar" class="" >
          <a href="#"><b>Calendário</b></span></a>
        </li>
      </ul>
        <ul class="nav navbar-nav">
          <li id="show-users" class="" >
            <a href="#"><b>Utilizadores</b></span></a>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li id="show-rooms" class="" >
            <a href="#"><b>Recursos</b></span></a>
          </li>
        </ul>
      {% endif %}
      
      <ul class="nav navbar-nav navbar-right">
        <li id="logoutDropdown" class="dropdown {% if loggedIn is False %}hidden{% endif %}" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b> {{ user.first_name }} </b> <span class="caret"></span></a>
          <ul class="login-dp dropdown-menu">
            <li>
              <div class="row">
                <div class="col-md-12">
                  <form id="logout-form" class="form" role="form" method="post" action="auth" accept-charset="UTF-8">
                    {% csrf_token %}
                    <div class="form-group">
                       <button type="submit" name="action" value="logout" class="btn btn-warning btn-block">Sair</button>
                    </div>
                    <input id="form-action" type="hidden" name="action" value="logout">
                  </form>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="users-tab" class="hidden">
  <div class="container">
    <h2>Gestão de Utilizadores</h2>
    <table id="users-table" class="table table-bordered">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Entidade</th>
          <th>Acções</th>
        </tr>
      </thead>
      <tbody id="users-table-body">
        {% for u in users %}
        <tr value="{{u.id}}" class="">
          <td contenteditable name="name">{{u.name}}</td>
          <td contenteditable name="email">{{u.email}}</td>
          <td contenteditable name="entity">{{u.entity}}</td>
          <td>
            <a href="" class="save-user"><span class="glyphicon glyphicon-floppy-disk"></span></a>
            <a href="" class="delete-user"><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>
        {% endfor %}
        <tr value="">
          <td contenteditable name="name"> </td>
          <td contenteditable name="email"> </td>
          <td contenteditable name="entity"> </td>
          <td>
            <a href="" id="add-user"><span style="font-size:1.5em;" class="glyphicon glyphicon-large glyphicon-plus"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id='calendar-tab'>
  <div id='calendar'></div>
</div>

<div id='rooms-tab'>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-confirm">
          <h4 id="modal-title" class="modal-title ng-binding">
          Criar reunião
              <a title="Close">
                <i class="glyphicon glyphicon-remove icon-arrow-right pull-right close" data-dismiss="modal" aria-label="Close" ng-click="CloseModal()"></i>
              </a> 
          </h4>
      </div>
      
      <div class="modal-body">
        <form id="meeting-form">
          {% csrf_token %}
          <div class="form-group">
            <label class="control-label" for="roomSelect">Espaço:</label>
            <select class="fixselect form-control selectpicker" name='room' id="roomSelect">
            </select>
          </div>
          <div class="form-group has-feedback" id='eventDescription'>
            <label class="control-label" for="meeting-form-description" onchange="meetingDescriptionChanged()">Descrição:</label>
            <textarea class="form-control notresizable" name="description" rows="2" id="meeting-form-description"></textarea>
            <span class="fixtooltip glyphicon glyphicon-warning-sign form-control-feedback hidden" aria-hidden="true" data-toggle="tooltip" title="Preencha a descrição da reunião"></span>
          </div>
          <div class="form-group">
            <label class="control-label" for="meeting-form-date">Data:</label>
            <div class='input-group date' id='eventDate'>
              <input name='date' type='text' class="form-control" id="meeting-form-date"/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="form-group has-feedback">
            <label class="control-label" for="meeting-form-time">Hora de Início:</label>
            <div class='input-group date' id='eventTime'>
              <input name='time' type='text' class="form-control" id="meeting-form-time"/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
          <div class="form-group has-feedback">
            <label class="control-label" for="meeting-form-duration">Duração:</label>
            <div class='input-group date' id='eventDuration'>
              <input name='duration' type='text' class="form-control" id="meeting-form-duration"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-hourglass"></span>
              </span>
            </div>
          </div>
          <div class="help-block text-right error-message"><b id="meeting-error"></b></div>
      
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="saveMeetingBtn">Guardar</button>
            <button type="submit" class="btn btn-danger" id="deleteMeetingBtn">Apagar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  meetingAction = 'create';
  selectedEvent = null;

  $("#meeting-form").find('textarea[name=description]').focusout(meetingDescriptionChanged);
  
  $(".submitAuthBtn").click(function(e){
    $("#form-action").val(e.target.value);
  })

  $("#logout-form").submit(function(e) {
    e.preventDefault(); // avoid to execute the actual submit of the form.
    var postData = $("#logout-form").serialize();

    $.ajax({
      type: "POST",
      url: "api/auth",
      data: postData, // serializes the form's elements.
      error: function(e, data){
        console.log('error', e);
        updateCsrf();
      },
      success: function(data){
        updateCsrf();
        window.location = '/login';
       }
    });
  });

  //$("#meeting-form").submit(function(e) {
  $("#saveMeetingBtn").click(function(e) {
    e.preventDefault(); // avoid to execute the actual submit of the form.

    if(!validateMeetingForm()){
      $("#meeting-error").text("Corrija os erros e submeta novamente");
      return;
    }

    var postData = $("#meeting-form").serializeArray();
    console.log(postData);

    var url = 'api/createMeeting';
    if(meetingAction == 'edit'){
      url = 'api/editMeeting';
      postData.push({name: 'id', value: selectedEvent.data.id});
    }
    postMeeting(url, postData);
    
  });

  /*$('#show-users').click(function(e){
    $('#users-tab').removeClass('hidden');
    $('#calendar-tab').addClass('hidden');
  })*/

  var tabSystem = TabSystem(["#show-calendar", "#show-users", "#show-rooms"], ['#calendar-tab', '#users-tab', '#rooms-tab']);

  $("#deleteMeetingBtn").click(function(e) {
    e.preventDefault(); // avoid to execute the actual submit of the form.

    if(confirm("Tem a certeza que pretende apagar esta reunião?")){
      $.ajax({
        type: "POST",
        url: "api/deleteMeeting",
        data: [{name: 'id', value: selectedEvent.data.id}, {name: 'csrfmiddlewaretoken', value: getCookie('csrftoken')}],
        error: function(e, data){
          updateCsrf();
        },
        success: function(data){
          updateCsrf();
          if(data.result == "Success"){
            console.log("Meeting deleted successfully", data);
            $("#myModal").modal('hide');
            fetchCalendar();
          }else{
            console.log("Delete meeting failed", data.message);
            $("#meeting-error").text(data.message);
          }
          
         }
      });

    }
  });

  function parseUserData(parent){
    P = parent;
    var id = parent.attr('value');

    data = [{name: 'id', value: id}]
    elements = parent.find("td");
    for(var i=0; i<elements.length; i++){
      var e = $(elements[i]);
      if(e.attr('name'))
        data.push({'name': e.attr('name'), 'value': e.text()});
    }
    return data;
  }

  $(".save-user").click(function(e){
    e.preventDefault();
    E = e;
    var parent = $(e.target.parentElement.parentElement.parentElement);
    var data = parseUserData(parent);

    postUser('edit', data, function(){
      parent.addClass('bg-danger');
    }, function(){
      parent.removeClass('bg-warning');
      parent.removeClass('bg-danger');
      parent.addClass('bg-success');
    });

  });

  $("#add-user").click(function(e){
    e.preventDefault();

    var parent = $(e.target.parentElement.parentElement.parentElement);
    var data = parseUserData(parent);

    postUser('add', data, function(){
      parent.addClass('bg-danger');
    }, function(response){
      parent.removeClass('bg-warning');
      parent.removeClass('bg-danger');
      parent.addClass('bg-success');

      D = data;
      values = {}
      for(var i=0; i<data.length; i++){
        values[data[i].name] = data[i].value;
      }
      var element = '<tr value="' + response.data.id +  '" class="">' +
          '<td contenteditable name="name">' + values['name'] + '</td>' +
          '<td contenteditable name="email">' + values['email'] + '</td>' +
          '<td contenteditable name="entity">' + values['entity'] + '</td>' +
          '<td>' +
            '<a href="" class="save-user"><span class="glyphicon glyphicon-floppy-disk"></span></a>' +
            '<a href="" class="delete-user"><span class="glyphicon glyphicon-trash"></span></a>' +
          '</td>' +
        '</tr>';
      $('#users-table tr:last').before(element);
      $('#users-table tr:last td:not(:last-child)').empty()
    });

  });

  $(".delete-user").click(function(e){
    e.preventDefault();
    E = e;
    var parent = $(e.target.parentElement.parentElement.parentElement);
    var data = parseUserData(parent);

    postUser('delete', data, function(){}, function(){
      parent.remove();
    });
  });

  function createModal(date, duration, resource){
    $("#meeting-form").find("input[type=text], textarea").val("");
        meetingAction = 'create';
        selectedEvent = null;
        $("#meeting-error").text("");

        $.ajax({
          type: "GET",
          url: "api/rooms",
          error: function(e, data){
            console.log('error', e);
          },
          success: function(data){
            console.log(data);
            var rooms = data.rooms;
            removeOptions($('#roomSelect')[0]);

            for(var i=0; i<rooms.length; i++){
              $('#roomSelect').append( $("<option>")
                  .val(rooms[i].id)
                  .html(rooms[i].name)
              );
            }
            if(resource.id)
              $("#roomSelect").val(resource.id);

          }
        });

        var dateStr = date.date() + "-" + (date.month()+1) + "-" + date.year();
        var timeStr = date.hour() + ":" + date.minutes();
        $('#modal-title').text("Criar reunião");
        $('#eventDate').data('DateTimePicker').date(dateStr);
        $('#eventTime').data('DateTimePicker').date(timeStr);
        $('#eventDuration').data('DateTimePicker').date(duration);
        $('#deleteMeetingBtn').addClass('hidden');
        $('#myModal').modal('show');
  }

  $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip({
        placement : 'top'
      });

      $("#users-tab tr td").on("DOMSubtreeModified", function(e){
        $(e.target.parentNode).addClass('bg-warning');
      });

    $('#calendar').fullCalendar({
      header: {
        left: 'today prev,next',
        center: 'title',
        right: 'timelineDay,agendaWeek,month'
      },
      editable: true,
      defaultView: 'agendaWeek',
      locale: 'pt',
      eventOverlap: false,
      schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
      resourceAreaWidth: '15%',
      resourceLabelText: "Espaços",
      resources: [
        {% if loggedIn %}{% for r in rooms %}
          {
            id: "{{r.id}}",
            title: "{{r.title}}",
            eventColor: "{{r.eventColor}}",
          },{% endfor %}{% endif %}
      ],
      events:[
      {% if loggedIn %}{% for m in meetings %}
          {
            title: "{{m.title}}",
            start: "{{m.start}}",
            end: "{{m.end}}",
            resourceId: "{{m.resourceId}}",
            editable: {{m.editable}},
            data: { {% for k,v in m.data.items %}
              {{k}}: "{{v}}",
            {% endfor %} }
          },{% endfor %}{% endif %}
      ],
      eventMouseover: function(event, jsEvent, view) {
        jsEvent.preventDefault();
        JE = jsEvent;
        E = event;
        V = view;
      },
      eventResize: function(event, delta, revertFunc) {
        updateMeeting(event, revertFunc);
      },
      eventDrop: function(event, delta, revertFunc, jsEvent, ui, view){
        updateMeeting(event, revertFunc);
      },
      selectable: true,
      selectHelper: true,
      select: function(start, end, a, b, resource) {
        //var title = prompt('Event Title:');
        R = resource;
        A = a;
        B = b;
        console.log(R, A, B);
        var eventData = {
          title: "",
          start: start,
          end: end
        };
        $('#calendar').fullCalendar('renderEvent', eventData, true);

        var d = moment.duration(end.diff(start));
        duration = Math.floor(d.asMinutes() / 60) + ":" + d.asMinutes() % 60;
        createModal(start, duration, resource);
        //$('#calendar').fullCalendar('unselect');
      },
      eventClick: function(event, jsEvent, view){
        console.log("Event Click");
        if(!event.editable)
          return;

        meetingAction = 'edit';
        selectedEvent = event;
        $("#meeting-error").text("");
        
        $.ajax({
          type: "GET",
          url: "api/rooms",
          error: function(e, data){
            console.log('error', e);
          },
          success: function(data){
            console.log(data);
            var rooms = data.rooms;
            removeOptions($('#roomSelect')[0]);

            for(var i=0; i<rooms.length; i++){
              $('#roomSelect').append( $("<option>")
                  .val(rooms[i].id)
                  .html(rooms[i].name)
              );
            }
            var modal = $("#myModal")
            $('#modal-title').text("Editar reunião");
            modal.find('textarea[name=description]').val(event.data.description);
            $('#eventDate').data('DateTimePicker').date(event.data.date);
            $('#eventTime').data('DateTimePicker').date(event.data.time);
            $('#eventDuration').data('DateTimePicker').date(event.data.durationTime);
            $('#roomSelect').val(event.data.room);

            $('#deleteMeetingBtn').removeClass('hidden');
            $('#myModal').modal('show');

           }
        });

      }
    });

    $('#calendar').fullCalendar('option', 'aspectRatio', 1.9);
    if( "{{loggedIn}}" == "False")
      $('#calendar').addClass('hidden');

  });
    $(function () {
        $('#eventDate').datetimepicker({
          format: 'DD-MM-YYYY',
          useCurrent: false,
        });
        $('#eventTime').datetimepicker({
            format: 'HH:mm',
        });
        $('#eventDuration').datetimepicker({
            format: 'HH:mm',
        });
    });


</script>
</body>
